<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
          <div ng-if="messages.error" role="alert" class="alert alert-danger">
            <div ng-repeat="error in messages.error">{{error.msg}}</div>
          </div>
          <div ng-if="messages.success" role="alert" class="alert alert-success">
            <div ng-repeat="success in messages.success">{{success.msg}}</div>
          </div>
          <form ng-submit="submitForm()">
            <div class="card stacked-form">
                <div class="card-header ">
                    <h4 class="card-title">{{title}}</h4>
                </div>
                <div class="card-body ">

                <div class="form-group">
                    <label>{{ELEMENENT}} Title</label>
                    <input type="text" ng-model="item.title" placeholder="Enter {{ELEMENENT}} Title" class="form-control">
                </div>




<div class="form-group">
    <label>{{ELEMENENT}} Min number of players</label>
  <input type="number" ng-model="item.min_players" placeholder="Enter {{ELEMENENT}} Min Players" class="form-control">
</div>


              <div class="form-group">
                  <label>{{ELEMENENT}} max number of players</label>
                <input type="number" ng-model="item.max_players" placeholder="Enter {{ELEMENENT}} Max Players" class="form-control">
              </div>



            <div class="form-group">
                <label>{{ELEMENENT}} Rules</label> 
                  <trix-editor angular-trix ng-model="cms_page.rules"></trix-editor>
            </div>


                </div>
                <div class="card-footer ">
                    <button type="submit"  class="btn btn-fill btn-info btn-primary">Submit</button>
                </div>
            </div>
            </form>
        </div>



    </div>
</div>
