<div class="container-fluid">
 <div class="row">
     <div class="col-md-12">
         <div class="card data-tables">
             <div class="card-body table-striped table-no-bordered table-hover dataTable dtr-inline table-full-width">
                 <div class="toolbar">

                 </div>
                 <div class="" ng-if="!show">
                    please wait...
                  </div>
                 <div class="fresh-datatables" ng-if="show">
                     <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                         <thead>
                           <tr>
                             <th>Id</th>
                             <th> </th>
                             <th>Description</th>
                             <th>Gender</th>
                             <th>Age</th>
                             <th>Part of Body</th>
                             <th>Mature</th>
                             <th>plan</th>
                             <th>Current Status</th>
                             <th>Added on</th>
                             <th>Votes</th>
                             <th>Report Count</th>
                             <th></th>
                              <!-- <th class="text-right">Actions</th> -->
                           </tr>
                         </thead>
                         <tfoot>
                             <tr>
                               <th>Id</th>
                               <th> </th>
                               <th>Description</th>
                               <th>Gender</th>
                               <th>Age</th>
                               <th>Part of Body</th>
                               <th>Mature</th>
                               <th>plan</th>
                               <th>Current Status</th>
                               <th>Added on</th>
                               <th>Votes</th>
                               <th>Report Count</th>
                               <th></th>
                             </tr>
                         </tfoot>
                         <tbody>
                             <tr ng-repeat="item in items track by $index">


                               <td>{{item.id}}</td>
                               <th> <img src='{{item.image_url}}' style='width:50px' /></th>
                               <td>{{item.description}}</td>
                               <td>{{item.gender}}</td>
                               <td>{{item.age_group}}</td>
                               <td>{{item.part_of_body}}</td>
                               <td>{{item.mature}}</td>
                               <td>{{item.selected_plan}}</td>
                               <td>

                                 <span  ng-if='item.status=="publish"' class='badge badge-success'>Published</span>
                                 <span ng-if='item.status=="drafr"' class='badge badge-primary'>Draft</span>
                                 <span ng-if='item.status=="ban"' class='badge badge-danger'>Banned</span>
<span class='badge badge-default' ng-if='item.status!="ban"&&item.status!="publish"&&item.status!="draft"'>{{item.status}}</span>


                               </td>
                               <td>{{item.created_at | date:'short'}}
                               </td>
                               <td>
<a href='/admin_panel/submissions/{{item.id}}/votes'>
                                 {{item.votes_done}} / {{item.total_votes}}</a></td>
                               <td>{{item.report_count}}</td>
<td>  <a ng-if="item.status!='ban'" ng-click="requestToBan(item.id)" class="btn  btn-warning " title="Ban Listing">
    <i class="fa fa-ban"></i></a>
  <!-- <a ng-if="!user.status" ng-click="requestToUnBan(user.id)" class="btn  btn-warning " title="Un-Ban User">
    <i class="fa fa-thumbs-up"></i></a> -->

  </td>
                             </tr>

                         </tbody>
                     </table>
                 </div>
             </div>
         </div>
     </div>
 </div>
</div>
