@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CRaleway:100,300,600,700,800"); footer {
    position: fixed;
    width: 100%;
    height: 44px;
    padding: 10px 30px;
    bottom: 0;
    background-color: #eee;
    border-top: 1px solid #e0e0e0;
}

.login-container {
    max-width: 555px;
}

/* Alerts
/* ------------------------- */
.alert {
    border-width: 0 0 0 3px;
}

.table-danger {
    background-color: rgba(231, 76, 60, 0.6);
}

.profile_pic_outline {
    width: 50px;
    height: auto;
}

/* Navbar
/* ------------------------- */
.navbar-default .navbar-nav > li > a {
    /*color: #262626;*/
    /*border-bottom: 3px solid transparent;*/
    padding-top: 17.5px;
    padding-bottom: 14.5px;
    transition: all 0.25s;
}

.navbar-default .navbar-nav > li > a:hover {
    /*background-color: transparent;;*/
    /*border-bottom-color: #bdbdbd;*/
}

.navbar-default .navbar-nav > li > a.navbar-avatar {
    padding-top: 13px;
    padding-bottom: 10px;
}

.navbar-default .navbar-nav > li > a.navbar-avatar img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.navbar-default .navbar-nav > li.active > a {
    /*border-bottom-color: #3f51b5;*/
    /*background-color: transparent;*/
    /*color: #262626;*/
}

/* Panels
/* ------------------------- */
.panel {
    /*border: solid 1px rgba(160, 160, 160, 0.3);*/
    /*box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);*/
}

.panel-heading {
    padding: 20px 30px;
}

.panel-heading + .panel-body {
    padding-top: 0;
}

.panel-body {
    padding: 30px;
}

.panel-body h3 {
    margin-top: 0;
}

.panel-title {
    font-size: 18px;
    /*color: #424242;*/
}

.modals {
    position: fixed;
    z-index: 1073;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.modals .must_show {
    display: block;
    content: ' ';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000000c7;
    z-index: 1074;
}

.modals #modal_shortcuts {
    position: absolute;
    overflow-y: auto;
}

.modals .modal-body {
    max-height: 60vh;
    overflow-y: auto;
}

.modals .modal_content {
    max-height: 90vh;
    overflow-y: auto;
}

.snackbar {
    min-width: 250px;
    margin-left: -125px;
    background-color: #5877fc;
    color: #fff;
    text-align: center;
    padding: 12px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    visibility: visible;
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
    border-radius: 6px;
}

.snackbar a {
    color: #fff;
}

.modal-header button.close {
    float: right;
}

.show_loader {
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    left: 0;
    background: rgba(255, 255, 255, 0.6);
    align-items: center;
}

.show_loader .is_loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #4263eb;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

.card.post {
    padding: 10px;
    background: #e0e0e0;
    margin-bottom: 10px;
    border-radius: 10px;
}

.ticket_item_av {
    background: #fff;
    padding: 10px;
    border-radius: 20px;
}

.card.post > .row {
    margin: 0;
}

.card.post > .date {
    display: inline-block;
    width: 100%;
    font-size: 12px;
    background: green;
    color: #fff;
    padding: 2px;
    margin-bottom: 10px;
}
span.profile_menu_item_inner {
    display: inline-block;
}
span.menu_prof_name_w {
    display: inline-block;
    float: right;
    width: auto;
    max-width: 70%;
}

span.menu_prof_name_top {
    display: inline-block;
    width: 100%;
}

span.menu_prof_name_bot {
    font-size: 0.8em;
}
.col-sm-9.post-content div {
    background: #fff;
    display: inline-block;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

div#modal_orders .modal-dialog {
    width: 900px;
    max-width: 100%;
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}


@media (min-width: 769px) {
  h2 {
      font-size: 22px;
  }
}



.container-brackets .round .match .player {
    border-radius: 4px !important;
    padding: 10px !important;
}

.brackets .match {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    box-shadow: 0px 0px 5px 2px #2a48f4eb;
    text-align: center;
}

.brackets .player {
    cursor: pointer;
    text-align: left;
}

.brackets .player.winner:after {
    content: 'W';
    color: green;
    float: right;
    background: #fff;
    padding: 0;
    text-align: center;
    border-radius: 5px;
    line-height: 22px;
    height: 20px;
    width: 20px;
}

.brackets .player.looser:after {
    content: 'L';
    color: red;
    float: right;
    background: rgb(255, 255, 255);
    padding: 0;
    text-align: center;
    border-radius: 5px;
    line-height: 22px;
    height: 20px;
    width: 20px;
}

.brackets .container-brackets {
    padding-left: 3px;
    padding-top: 3px;
}

.container-brackets .round.rd-2 .match .player:nth-child(2) {
    margin-top: 33px;
}

.container-brackets .round.rd-2 .match .player:last-child {
    margin-bottom: 11px;
}

.container-brackets .round.rd-2 .match {
    margin-bottom: 70px;
}

.container-brackets .round.rd-2 .match .player {
    margin: 159px 0;
}

.container-brackets .round.rd-2 {
    margin-top: 0 !important;
}

.container-brackets .round.rd-3 {
    margin-top: 100px !important;
}

.container-brackets .separator-brackets.rd-2 .line:first-child {
    margin-top: 85px !important;
}

.container-brackets .round.rd-3 .match .player {
    margin: 300px 0 !important;
}

.container-brackets .round.rd-3 .match .player:nth-child(2) {
    margin-top: 37px !important;
}

.container-brackets .round.rd-3 .match .player:last-child {
    margin-bottom: 11px !important;
}

.container-brackets .separator-brackets.rd-2 .line {
    height: 207px !important;
    margin-bottom: 192px !important;
}

.container-brackets .round.rd-3 .match {
    margin-bottom: 330px;
}
.modal a{
  color:#000;text-decoration:underline
}
.table-responsive{
  overflow-y: visible;
  min-height: 400px;
}

.region_input, .region_input label{
  width: 100%
}


.flag_ico {
    width: 26px;
    margin-left: 5px;
}
