<div class="container-fluid">

<div class="row">
  <div class="col-md-12">
    <div ng-if="messages.error" role="alert" class="alert alert-danger">
      <div ng-repeat="error in messages.error">{{error.msg}}</div>
    </div>
    <div ng-if="messages.success" role="alert" class="alert alert-success">
      <div ng-repeat="success in messages.success">{{success.msg}}</div>
    </div>
    <form ng-submit="submitForm()">
      <div class="card stacked-form">
        <div class="card-header ">
            <h4 class="card-title">{{title}}</h4>
        </div>
        <div class="card-body ">

        <div class="form-group">
            <label>Post Title</label>
            <input type="text" ng-model="blogpost.title" required placeholder="Enter Blog Post Title" class="form-control">
        </div>




        <div class="form-group">
            <label>Post Slug [Fancy Url key]</label>
            <input type="text" ng-model="blogpost.slug" required placeholder="Enter Post Slug [Fancy Url key]" class="form-control">
        </div>

        <div class="form-group">
          <label>Post Category</label>
          <select type="text" ng-model="blogpost.category_id"  required class="form-control">
          <option value="">Select</option>
          <option value="{{cat.id}}" ng-repeat="cat in categories">{{cat.title}}</option>
          </select>
        </div>
        <div class="form-group">
            <label>Blog Archive Page Content [Short]</label>
            <textarea style="min-height: 200px;" type="text" ng-model="blogpost.short_content" required placeholder="Blog Archive Page Content [Short]" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label>Post Content</label>
            <summernote ng-model="blogpost.content"></summernote>
        </div>


        <div class="form-group" ng-if="is_new">
          <label>Featured Image</label>
          <br />
          <span>You will be able to edit the featured image once you save the post.</span>
        </div>
        <div class="form-group" ng-if="!is_new">
          <label>Featured Image</label>
          <div class="input-group mb-3">
            <input type="text" ng-model="blogpost.image_url" readonly required placeholder="Enter Blog Post Title" class="form-control">
            <div class="input-group-append">
              <button class="btn btn-danger" type="button" ng-click="removeImage()">Remove</button>
            </div>
          </div>
          <br />
          <div>
            <hr ng-if="blogpost.image_url"   />
            <label>Featured Image</label>
            <img ng-if="blogpost.image_url"  style="width:70px"  ng-src="{{'/downloads/'+blogpost.image_url}}" />

            <input accept="image/gif, image/jpeg, image/png" data-id_key="{{blogpost.id}}" id="inv" type="file" name="file" onchange="angular.element(this).scope().uploadedFile(this)" class="btn btn-warning form-control" />
            <span ng-if="file_upload_started">please wait....</span>
            <span ng-if="file_upload_completed">Image uploaded successfully...</span>
            <span ng-if="file_upload_failed">Upload Failed.</span>
          </div>
        </div>





                </div>
                <div class="card-footer ">
                    <button type="submit" ng-disabled="file_upload_started" class="btn btn-fill btn-info">Submit</button>
                </div>
              </div>
        </form>
      </div>
    </div>
  </div>



<style>

.glyphicon{
      font-family: Font Awesome\ 5 Free;
      font-weight: 900;
}
.glyphicon-quote:before{ content: "\f10e" !important;}
.glyphicon-quote:after{content: '';content: "\f10e";}
.glyphicon-list:before {
    content: "\f03a";
}
.glyphicon-th-list:before {
    content: "\f0cb";
}.glyphicon-indent-right:before {
    content: "\f101";
}.glyphicon-indent-left:before {
    content: "\f100";
}

.glyphicon-share:before {
    content: "\f0c1";
}
.glyphicon-picture:before {
    content: "\f03e";
}


</style>
