<div class="sidebar-wrapper"  ng-controller="HeaderCtrl">
    <div class="logo" style=" width: 100%;    padding-bottom: 100px;
 "> <img src="/images/logo.png" style=" width: 100%; padding: 20px; "> </div>
    <div class="user">
      <div class="photo">
        <img ng-src="{{currentUser.picture || currentUser.gravatar}}" />
      </div>
      <div class="info ">
        <span>{{currentUser.name || currentUser.email || currentUser.id}}
        </span>
      </div>
    </div>
    <ul class="nav">


      <li class="nav-item ">
          <a class="nav-link" href="/admin_panel/">
              <i class="fa fa-chart-line"></i>
              <p>Dashboard</p>
          </a>
      </li>



      <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" data-target="#user_menu_item">
              <i class="fa fa-users"></i>
              <p>
                  Users
                  <b class="caret"></b>
              </p>
          </a>
          <div ng-class="{'show' : urlhas('users'),  'collapse': true}"  id="user_menu_item">
              <ul class="nav">
                <li class="nav-item ">
                    <a class="nav-link" href="/admin_panel/users/">
                        <span class="sidebar-mini fa fa-list"></span>
                        <span class="sidebar-normal">List Users</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/admin_panel/users/admins">
                        <span class="sidebar-mini fa fa-list"></span>
                        <span class="sidebar-normal">List Admins</span>
                    </a>
                </li>
              </ul>
          </div>
      </li>


           <li class="nav-item">
               <a class="nav-link" data-toggle="collapse" data-target="#cms_pages_menu_item">
                   <i class="fas fa-folder-open"></i>
                   <p>
                       CMS Pages
                       <b class="caret"></b>
                   </p>
               </a>
               <div ng-class="{'show' : urlhas('cms_pages'),  'collapse': true}"  id="cms_pages_menu_item">
                   <ul class="nav">
                     <li class="nav-item ">
                         <a class="nav-link" href="/admin_panel/cms_pages/">
                             <span class="sidebar-mini fa fa-list"> </span>
                             <span class="sidebar-normal">List All</span>
                         </a>
                     </li>
                     <li class="nav-item ">
                         <a class="nav-link" href="/admin_panel/cms_pages/add">
                             <span class="sidebar-mini  fa fa-plus"></span>
                             <span class="sidebar-normal">Add New</span>
                         </a>
                     </li>
                   </ul>
               </div>
           </li>


           <li class="nav-item">
               <a class="nav-link" data-toggle="collapse" data-target="#games_pages_menu_item">
                   <i class="fas fa-folder-open"></i>
                   <p>
                       Games
                       <b class="caret"></b>
                   </p>
               </a>
               <div ng-class="{'show' : urlhas('cms_pages'),  'collapse': true}"  id="games_pages_menu_item">
                   <ul class="nav">
                     <li class="nav-item ">
                         <a class="nav-link" href="/admin_panel/games/">
                             <span class="sidebar-mini fa fa-list"> </span>
                             <span class="sidebar-normal">List All</span>
                         </a>
                     </li>
                     <li class="nav-item ">
                         <a class="nav-link" href="/admin_panel/games/add">
                             <span class="sidebar-mini  fa fa-plus"></span>
                             <span class="sidebar-normal">Add New</span>
                         </a>
                     </li>
                   </ul>
               </div>
           </li>
           <li class="nav-item">
               <a class="nav-link" data-toggle="collapse" data-target="#tourn_pages_menu_item">
                   <i class="fas fa-folder-open"></i>
                   <p>
                       Tournaments
                       <b class="caret"></b>
                   </p>
               </a>
               <div ng-class="{'show' : urlhas('cms_pages'),  'collapse': true}"  id="tourn_pages_menu_item">
                   <ul class="nav">
                     <li class="nav-item ">
                         <a class="nav-link" href="/admin_panel/tournaments/">
                             <span class="sidebar-mini fa fa-list"> </span>
                             <span class="sidebar-normal">List All</span>
                         </a>
                     </li>
                     <li class="nav-item ">
                         <a class="nav-link" href="/admin_panel/tournaments/add">
                             <span class="sidebar-mini  fa fa-plus"></span>
                             <span class="sidebar-normal">Add New</span>
                         </a>
                     </li>
                   </ul>
               </div>
           </li>

 
                  <li class="nav-item ">
                      <a class="nav-link" href="/admin_panel/invoices/">
                          <i class="fa fa-credit-card"></i>
                          <p>Invoices</p>
                      </a>
                  </li>

                  <li class="nav-item ">
                      <a class="nav-link" href="/admin_panel/translations/">
                          <i class="fa fa-language"></i>
                          <p>Translations</p>
                      </a>
                  </li>

                  <li class="nav-item ">
                      <a class="nav-link" href="/clearTranslationCache">
                          <i class="fa fa-language"></i>
                          <p>Clear Translation Cache</p>
                      </a>
                  </li>

 



      <li class="nav-item ">
          <a class="nav-link" href="/admin_panel/settings/">
              <i class="fa fa-cog"></i>
              <p>Settings</p>
          </a>
      </li>

      

    </ul>
</div>
